body {font-family: Arial, Helvetica, sans-serif;}
.logo{
    float: left;
    margin: 20px;
}
.header{
    height: auto;
    background-color: #56a4fe;
}
.header .cm h2{
    padding-top: 30px;
    color: #fff;
}
.header .dndx,.header .dndx a{
    text-align: center;
    margin: auto;
    color: #fff;
}
form {
  border: 3px solid #f1f1f1;
}
.form-ac{
  margin: 50px auto 80px;
  width: 800px;
}

.container input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 0px;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.create-ac {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}



.container {
  padding: 16px;
}

span .pass {
  float: right;
  padding-top: 16px;
}
.value input{
  height: 25px;
}